body {
  font-family: sans-serif;
}

.sexy-font {
  color: white;
}

.blue-screen {
  background-color: blue;
}

.purple-screen {
  background-color: purple;
}

.yellow-screen {
  background-color: yellowgreen;
}
